---
layout: default
---

<div class="home">
  {%- assign category = page.category | default: page.title -%}
  <h2 class="post-list-heading">{{ page.title | default: "Posts" }}</h2>

  {{ content }}

  {%- assign categoryPosts = site.categories[category] -%}
  {%- if categoryPosts.size > 0 -%}
    <ul class="post-list">
      {%- for post in categoryPosts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    <p>
      카테고리에 글이 없어요.
    </p>
  {%- endif -%}
</div>
